* {
margin: 0;
padding: 0;
font-family: Gilroy-Medium;
font-size: 18px;
line-height: 22px;
text-align: center;
color: #070707;

}

.section_header {
    font-family: Gilroy-Bold;
    font-size: 34px;
    line-height: 42px;
    text-align: center;
    /* Black */
    color: #070707;
}

.col8 {
background-color: yellow;
min-height: 100px;
width: 100%; }

.navigation_menu {
    list-style: none;
    display: flex;
    justify-content: space-between;
    text-decoration: none;
    padding-top: 33px;
    padding-bottom: 32px;
    border-bottom: 1px solid #828282;
    background-color: #FFFFFF;
}

ul li {
    padding: 10px;
    }


.navigation_menu li a {
    text-decoration: none;
    font-family: Gilroy-Bold;
    font-size: 18px;
    line-height: 22px;
    color: #828282;
 
}

.navigation_menu li a:hover {
    filter: drop-shadow(1px 1px 3px #4e4545) contrast(1.1);
 }

 .point1 {
     color: #070707;
    }

.header {
    display: flex;
    justify-content: space-between;
}
.header .name {
font-family: Gilroy-Bold;
font-size: 47.3392px;
line-height: 59px;
color: #070707;
width: 10%;
padding-top: 37px;
margin-right: auto;
}

.header .prof {
font-family: Gilroy-Medium;
font-size: 18px;
line-height: 22px;
color: #070707;
width: 17%;
padding-top: 94px;
margin-left: auto;
margin-right: auto;
}

.header .lang_switcher {
    font-family: Gilroy-Bold;
    font-size: 16px;
    line-height: 20px;
    color: #828282;
    transform: rotate(-90deg);
    width: 10%;
    padding-top: 70px;
    margin-left: auto;
    margin-right: -25px;

}

.prof {
    padding-top: 60px !important
}


.photo {
    margin-top: 30px;
   
    border: slategrey solid 2px;
}

.about_me {
    background: #F6F6F6;
    font-family: Gilroy-Medium;
    font-size: 18px;
    line-height: 22px;
    text-align: center;
    /* Black */
    color: #070707;
    padding-top: 100px;
    padding-bottom: 107px;
    height: auto;
}

.about_me p {
    margin-left: auto;
    margin-right: auto;
    width: 50%;

}

.about_me h2 {
    font-size: 34px;
line-height: 42px;
text-align: center;
padding-bottom: 17px;
}

.skills {
    min-height: 20%;
    max-height: auto;
}
.section_header {
    padding-top: 2rem;
}

p {
    padding-top: 1rem;
    padding-bottom: 1rem;
}
.soft_skills {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    justify-content: space-around;
}

.img_container img{
    background-image: linear-gradient(to bottom right, #0eede9, #023da3);
   width: 80px;
   padding: 5px;
   
}

.img_container:hover {
    filter: sepia(0.1) hue-rotate(10deg) brightness(1.1) drop-shadow(2px 2px 4px #333);
 
}

.soft_names {
    display: flex;
    margin-right: auto;
    margin-left: auto;
    justify-content: space-around;
    padding-top: 0.4em;
}

.soft_names div:hover {
    filter: sepia(0.1) hue-rotate(10deg) brightness(1.1) drop-shadow(2px 2px 4px #333);
}

.full {
    color: black;
        filter: invert(0.5) brightness(1.3) drop-shadow(1px 1px 5px hsla(192, 69%, 65%, 0.747));
}

.full:hover {
    transform: scale(1.1) rotate(10deg)
}

.soft_stars {
    display: flex;
    justify-content: space-around;
    padding-top: 0.4em;
    padding-bottom: 15px;
    margin-bottom: 30px;
}

.photo img:hover {
    border: solid 1px #4e4545;
    transition: ease-in-out 2s;
    filter: contrast(1.1) brightness(1.1); 
    transform: translate(4px, 2px);
}

.skill_container {
    padding-bottom: 30px;
}

.portfolio {
background-color: #F6F6F6;
display: flex;
flex-direction: column;
place-content: start;


}

.portfolio_item {
    display: flex;
flex-direction: column;
justify-self: center;
padding-top: 40px;
padding-bottom: 20px;
border: #18e7e4f5 solid 2px;
border-bottom: none;
    img {
        padding-bottom: 20px;
    }

    img:hover {
        filter: contrast(1.1) brightness(1.1) sepia(0.1); 
        transform: translate(4px, 2px);
    }

    span {
    text-decoration: underline #e21818 ;

    }
}

.name {
    font-size: 2rem !important;
}
